<div class="well home-splash">
  <h1>Wisdom of the Woods</h1>
  <p>
    Welcome to <strong>Wisdom of the Woods</strong>. Feel free to both post questions and answer other user's questions concerning the woods. This project was put together to practice developement with the <a href="http://emberjs.com/">Ember.JS</a> framework. Learn more on the <a href="/about">about</a> page.
  </p>
  <button {{action 'showQuestionForm'}} class="btn btn-primary">New Question</button>
</div>
