<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index'}}<div class="navbar-brand">Wisdom of the Woods</div>{{/link-to}}
    </div>
    <div class="navbar-links">
      <ul>
        <li>
          {{#link-to 'about'}}<strong>About</strong>{{/link-to}}
        </li>
        <li>
          {{#if currentUser.name}}
            {{#link-to 'sign-in'}}<strong>{{currentUser.name}}</strong>: Sign out{{/link-to}}
          {{else}}
            {{#link-to 'sign-in'}}<strong>Sign In</strong>{{/link-to}}
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>
