<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/epicodus-ember-QandA/">
        Ember Q and A
      </a>
    </div>
    <div class="navbar-links">
      <ul>
        <li>
          About
        </li>
        <li>
          Contact
        </li>
        <li>
          {{#if currentUser.name}}
            {{#link-to 'sign-in'}}<strong>{{currentUser.name}}</strong>: Sign out{{/link-to}}
          {{else}}
            {{#link-to 'sign-in'}}<strong>Sign In</strong>{{/link-to}}
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>
