<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/epicodus-ember-QandA/">
        Ember Q and A
      </a>
    </div>
    <h1><strong>{{currentUser.name}}</strong></h1>
  </div>
</nav>
