<h2><strong>Question:</strong> {{ question.question }}</h2>
<h3><strong>Asked by:</strong> {{ question.author }}</h3>
<p>
  Notes: {{ question.body }}
</p>
{{question-edit item=question save="save" deleteQuestion="deleteQuestion"}}
