<div class="question-main">
  {{#link-to 'question' question.id }}{{ question.question }}{{/link-to}}
</div>
<div class="question-meta">
  By: <strong>{{ question.author }}</strong>  Created: <strong>{{time-since question}}</strong>  Answers: <strong>{{num-answers question}}</strong>
</div>
