<form class="well">
  <h1>New User</h1>
  <div class="form-group">
    <label for="name">Name</label><br>
    {{input value=name id="name"}}
  </div>
  <button {{action 'create'}} class="btn btn-primary">Create User</button>
</form>
