<h2>{{ model.question }}</h2>
<h3>Asked by: {{ model.author }}</h3>
<p>
  {{ model.body }}
</p>

{{answer-form question=model save="save"}}

<h3>Answers</h3>

<ul>
  <li>this will be a list</li>
  <li>of the answers</li>
</ul>
